body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
}

.btn-primary {
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover {
  background-color: #ef4426;
  border-color: #ef4426;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}

hr {
  color: #f05f44;
  opacity: 1;
  max-width: 70px;
  border: 1px solid #f05f44;
  margin: 20px auto;
}

.buffer {
  height: 13rem;
}
